{% extends 'base.html.twig' %}

{% block title %}Ga Lekker Reizen{% endblock %}

{% block body %}
<div class="col-10 mx-auto trip-detail-block p-3">
    {{ include('trip/_delete_form.html.twig') }}

    <h1>Reis wijzigen</h1>

    {{ include('trip/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_trip_index') }}" class="btn btn-light">Terug naar overzicht</a>

</div>
{% endblock %}
