{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block body %}
<div class="col-10 mx-auto trip-detail-block p-3">
    <h1>Nieuwe Reis Toevoegen</h1>

    {{ include('trip/_form.html.twig') }}

    <a href="{{ path('app_trip_index') }}" class="btn btn-light">Terug naar overzicht</a>
</div>
{% endblock %}
