{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post" name="form_login">
        <label for="studentNumber">Studentnummer:</label>
        <input type="text" id="studentNumber" name="_studentNumber" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        <input type="hidden" name="_app_default" value="{{ path('app_default') }}"/>

        <button type="submit">login</button>
    </form>
{% endblock %}
