{% extends 'base.html.twig' %}

{% block title %}New Attendee{% endblock %}

{% block body %}
    <h1>Create new Attendee</h1>

    {{ include('attendee/_form.html.twig') }}

    <a href="{{ path('app_trip_overview') }}">Terug naar overzicht</a>
{% endblock %}
