{% extends 'base.html.twig' %}

{% block title %}Ga Lekker Reizen{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="header-bg"></div>
        <div class="row">
                <div class="col-8 align-center mx-auto mt-5">
                    <a href="{{ path('app_login') }}"
                       class="btn btn-dark">Boek nu!</a>
                </div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
{% endblock %}
