{% extends 'base.html.twig' %}

{% block title %}Ga Lekker Reizen{% endblock %}

{% block body %}
                <div class="col-8 mx-auto intro-block p-3">
                    <h1>Ga Lekker Reizen</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum erat nibh, ultrices vel vehicula ut, mattis a felis. Duis sit amet lacus et purus iaculis auctor non et tortor. Morbi vel libero quis ante facilisis vehicula. Donec at tincidunt nisl. Praesent quis dolor id odio ultrices vehicula eu sed elit. Ut in nisi cursus, eleifend est in, porttitor lorem. Curabitur id semper nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum erat nibh, ultrices vel vehicula ut, mattis a felis. Duis sit amet lacus et purus iaculis auctor non et tortor. Morbi vel libero quis ante facilisis vehicula. Donec at tincidunt nisl. Praesent quis dolor id odio ultrices vehicula eu sed elit. Ut in nisi cursus, eleifend est in, porttitor lorem. Curabitur id semper nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_trip_overview') }}"
                       class="btn btn-warning">Bekijk alle reizen</a>
                    {% endif %}
                </div>
        </div>
        <div class="row mt-5 mx-0">
            <div class="col-6 home-image"></div>
            <div class="col-6 home-image-1"></div>
        </div>
        <div class="row mt-5 mb-5 mx-0">
            <div class="col-10 mx-auto">
                <h2>Contactgegevens</h2>
                <p>Adres</p>
                <p>Postcode</p>
                <p>Rotterdam</p>
            </div>
        </div>
{% endblock %}
